@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-arabic);

  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --background: oklch(0.9832 0.0055 3.3355);
  --foreground: oklch(0.2410 0.0786 22.3674);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2410 0.0786 22.3674);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2410 0.0786 22.3674);
  --primary: oklch(0.3800 0.1523 18.6219);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9391 0.0146 1.5616);
  --secondary-foreground: oklch(0.3800 0.1523 18.6219);
  --muted: oklch(0.9391 0.0146 1.5616);
  --muted-foreground: oklch(0.5087 0.0422 12.4061);
  --accent: oklch(0.4490 0.1606 17.6053);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5143 0.1978 16.9350);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8779 0.0226 7.2393);
  --input: oklch(0.8779 0.0226 7.2393);
  --ring: oklch(0.3800 0.1523 18.6219);
  --chart-1: oklch(0.3800 0.1523 18.6219);
  --chart-2: oklch(0.4490 0.1606 17.6053);
  --chart-3: oklch(0.5143 0.1978 16.9350);
  --chart-4: oklch(0.6047 0.1733 13.2349);
  --chart-5: oklch(0.7328 0.1237 7.7472);
  --sidebar: oklch(0.2410 0.0786 22.3674);
  --sidebar-foreground: oklch(0.9832 0.0055 3.3355);
  --sidebar-primary: oklch(0.3800 0.1523 18.6219);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3083 0.1034 22.2807);
  --sidebar-accent-foreground: oklch(0.9832 0.0055 3.3355);
  --sidebar-border: oklch(0.3083 0.1034 22.2807);
  --sidebar-ring: oklch(0.3800 0.1523 18.6219);

  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.05;
  --shadow-color: #3d0a0d;
  --shadow-2xs: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.03);
  --shadow-xs: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.03);
  --shadow-sm: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.05), 0px 1px 2px 1px hsl(356.4706 71.8310% 13.9216% / 0.05);
  --shadow: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.05), 0px 1px 2px 1px hsl(356.4706 71.8310% 13.9216% / 0.05);
  --shadow-md: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.05), 0px 2px 4px 1px hsl(356.4706 71.8310% 13.9216% / 0.05);
  --shadow-lg: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.05), 0px 4px 6px 1px hsl(356.4706 71.8310% 13.9216% / 0.05);
  --shadow-xl: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.05), 0px 8px 10px 1px hsl(356.4706 71.8310% 13.9216% / 0.05);
  --shadow-2xl: 0px 4px 10px 2px hsl(356.4706 71.8310% 13.9216% / 0.13);
  --tracking-normal: -0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1188 0.0318 15.2849);
  --foreground: oklch(0.9607 0.0154 7.4853);
  --card: oklch(0.1558 0.0393 15.4394);
  --card-foreground: oklch(0.9607 0.0154 7.4853);
  --popover: oklch(0.1558 0.0393 15.4394);
  --popover-foreground: oklch(0.9607 0.0154 7.4853);
  --primary: oklch(0.6122 0.2082 22.2410);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2410 0.0786 22.3674);
  --secondary-foreground: oklch(0.9247 0.0392 10.0700);
  --muted: oklch(0.2013 0.0533 17.7133);
  --muted-foreground: oklch(0.7578 0.0609 12.0570);
  --accent: oklch(0.6477 0.2384 22.5888);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6785 0.2131 14.7192);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2846 0.0803 17.2477);
  --input: oklch(0.2846 0.0803 17.2477);
  --ring: oklch(0.6477 0.2384 22.5888);
  --chart-1: oklch(0.6122 0.2082 22.2410);
  --chart-2: oklch(0.7752 0.1362 9.3358);
  --chart-3: oklch(0.3800 0.1523 18.6219);
  --chart-4: oklch(0.8422 0.0900 7.0366);
  --chart-5: oklch(0.3083 0.1034 22.2807);
  --sidebar: oklch(0.1005 0.0291 11.6980);
  --sidebar-foreground: oklch(0.9607 0.0154 7.4853);
  --sidebar-primary: oklch(0.6122 0.2082 22.2410);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.1558 0.0393 15.4394);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.1558 0.0393 15.4394);
  --sidebar-ring: oklch(0.6122 0.2082 22.2410);

  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 5px;
  --shadow-opacity: 0.6;
  --shadow-color: #000000;
  --shadow-2xs: 0px 8px 20px 5px hsl(0 0% 0% / 0.30);
  --shadow-xs: 0px 8px 20px 5px hsl(0 0% 0% / 0.30);
  --shadow-sm: 0px 8px 20px 5px hsl(0 0% 0% / 0.60), 0px 1px 2px 4px hsl(0 0% 0% / 0.60);
  --shadow: 0px 8px 20px 5px hsl(0 0% 0% / 0.60), 0px 1px 2px 4px hsl(0 0% 0% / 0.60);
  --shadow-md: 0px 8px 20px 5px hsl(0 0% 0% / 0.60), 0px 2px 4px 4px hsl(0 0% 0% / 0.60);
  --shadow-lg: 0px 8px 20px 5px hsl(0 0% 0% / 0.60), 0px 4px 6px 4px hsl(0 0% 0% / 0.60);
  --shadow-xl: 0px 8px 20px 5px hsl(0 0% 0% / 0.60), 0px 8px 10px 4px hsl(0 0% 0% / 0.60);
  --shadow-2xl: 0px 8px 20px 5px hsl(0 0% 0% / 1.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}